* {
  text-decoration: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.ps__rail-y {
  width: 0px !important;
}
.ps__thumb-y {
  width: 6px !important;
  background-color: #ecebfb !important;
}

.app-scroll {
  max-height: 100vh;
  overflow-y: auto;
}

a:focus,
a:visited,
a {
  color: inherit;
}

@media (pointer: coarse) {
  .ps__thumb-y {
    display: none;
  }
}
