.mainActionWrap {
  height: max(100dvh, 850px);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.02em;
}

.mainActionBGWrap {
  position: absolute;
  width: 100%;
  height: max(100dvh, 850px);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.mainActionBG {
  object-fit: cover;
  z-index: -1;
}

.mainActionGrid {
  width: 1320px;
  position: relative;
  top: 60px;
}

.LineWithHeart {
  position: absolute;
  left: calc(70%);
  top: calc(-50% + 80px);
  opacity: 0;
  transition: all 1s;
}

.Crown {
  position: absolute;
  top: -100px;
  left: 630px;
  opacity: 0;
  transform: translateY(5.56dvh);
  transition: all 1s;
}

.Diamond {
  position: absolute;
  top: 130px;
  left: -250px;
  opacity: 0;
  transition: all 1s;
}

.FourHearts {
  position: absolute;
  top: 250px;
  left: 600px;
  opacity: 0;
  transition: all 1s;
}

.mainActionTitle {
  font-size: 80px;
  color: #ecebfb;
  font-family: "dunkel-sans-expanded-rounded", sans-serif;
  line-height: 120%;
  margin-bottom: 40px;
  transition: all 1s;
  transform: translateY(5.56dvh);
  opacity: 0;
}
.mainActionTitle1 > span,
.mainActionTitle2 > span {
  letter-spacing: 0.02em;
}

.mainActionTitle1 > span:nth-child(2) {
  color: #8261ec;
}

.mainActionTitle2 > span:last-child {
  color: #8261ec;
}

.mainActionTextWrap {
  opacity: 0;
  transition: all 1s;
}

.mainActionText {
  color: #ecebfb;
  font-family: "NanumSquareRound", sans-serif;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 60px;
}

.mainActionText1 {
  margin-bottom: 20px;
}

.mainActionCallToActionButtonWrap {
  opacity: 0;
  transition: all 1s;
}
.mainActionCallToActionButton {
  background-color: transparent;
  color: #ecebfbde;
  width: 406px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #8161ec9f;
  background-image: linear-gradient(84deg, #45445049 0%, #583c6d2b 100%);
  border-radius: 5px;
  box-shadow: inset 4px 4px 6px #ecebfb2b, inset -4px -4px 6px #0000006f;
  font-size: 18px;
  transition: all 0.3s;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.mainActionCallToActionButton:hover {
  border: 2px solid transparent;
  background-color: #8261ec;
  background-image: linear-gradient(84deg, #706e884d 0%, #b194c94d 100%);
  box-shadow: inset 4px 4px 6px #ecebfb2b, inset -4px -4px 6px #0000003c;
  transition: all 0.3s;
  border-bottom: 2px solid #0000001e;
  border-right: 2px solid #0000001e;
}

.mainActionCallToDiscordIcon {
  object-fit: cover;
  height: 22px;
  margin-right: 20px;
}

@media screen and (max-width: 1820px) {
  .Diamond {
    display: none;
  }
}

@media screen and (max-width: 1520px) {
  .LineWithHeart {
    display: none;
  }

  .Diamond {
    display: block;
  }

  .mainActionGrid {
    width: 824px;
  }
}

@media screen and (max-width: 1310px) {
  .Diamond {
    display: none;
  }
  .FourHearts {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .mainActionGrid {
    width: 700px;
  }

  .mainActionTitle {
    font-size: 60px;
  }

  .Crown {
    left: 470px;
  }
}
@media screen and (max-width: 800px) {
  .mainActionGrid {
    width: 480px;
  }

  .mainActionTitle {
    font-size: 75px;
  }

  .mainActionTitle2 > span {
    letter-spacing: -0.02rem;
  }

  .Crown {
    left: 430px;
  }

  .mainActionTitle1 > div > span {
    color: #8261ec;
  }

  .mainActionText {
    text-align: justify;
  }

  .mainActionCallToActionButton {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .mainActionGrid {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
  }

  .mainActionTitle {
    font-size: 13vw;
  }
  .mainActionTitle > div > span {
    letter-spacing: -0.15rem;
  }
  .mainActionTitle1 > div > span:nth-child(2) {
    color: #ecebfb;
  }
}

@media (pointer: coarse) {
  .mainActionCallToActionButton {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .Crown {
    display: none;
  }
}

@media (pointer: coarse) {
  .mainActionWrap,
  .mainActionBGWrap {
    height: max(100dvh, 800px);
  }
}

@media (pointer: coarse) and (max-width: 600px) {
  .mainActionGrid {
    transform: translateY(-10%);
  }

  .mainActionBG {
    transform: translateX(6%);
  }
}
