.mainFrontPageWrap {
  height: max(97svh, 850px);
  width: 100%;
  color: #ecebfb;
  font-family: "NanumSquareRound", sans-serif;
  letter-spacing: -0.02em;
}

.mainFrontPageBox {
  height: max(97svh, 850px);
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}

.mainFrontPageImgWrap {
  height: 100%;
  width: 100%;

  position: relative;
}

.mainFrontPageBG {
  position: absolute;
  bottom: -10%;
  width: max(1920px, 100%);
  object-fit: cover;
}

.mainFrontPageGridWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.mainFrontPageGrid {
  width: 1320px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-gap: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
  align-items: center;
}
.mainFrontPageHeadTextWrap {
  transform: translateY(40px);
}
.mainFrontPageHeadUpperText {
  opacity: 0.8;
  font-family: "dunkel-sans-expanded-rounded", sans-serif;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.mainFrontPageHeadMiddleText {
  font-family: "dunkel-sans-expanded-rounded", sans-serif;
  font-size: 120px;
  letter-spacing: 0.02em;
  line-height: 120%;
}

.mainFrontPageHeadMiddleText1,
.mainFrontPageHeadMiddleText2 > span {
  height: 120%;
  line-height: 120%;
}

.mainFrontPageHeadMiddleText1 > span:first-child {
  color: #8261ec;
}

.mainFrontPageHeadMiddleText1 > span:nth-child(2) {
  color: #ecebfb;
}

.mainFrontPageHeadMiddleText2 > span:nth-child(2) {
  color: #8261ec;
}

.mainFrontPageHeadMiddleText2 > span:first-child {
  color: #ecebfb;
}

.mainFrontPageHeadLowerText1 {
  opacity: 0.8;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

.mainFrontPageHeadLowerText2,
.mainFrontPageHeadLowerText3 {
  width: 406px;
  height: 50px;
  color: #ecebfbde;
  box-sizing: border-box;
  border: 2px solid #ecebfb77;
  background-image: linear-gradient(84deg, #706e882b 0%, #b194c92b 100%);
  border-radius: 5px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: inset 4px 4px 6px #ecebfb2b, inset -4px -4px 6px #00000036;
  margin-bottom: 20px;
  transition: all 0.3s;
  background-color: transparent;
}

.mainFrontPageHeadLowerText2:hover {
  border: 2px solid transparent;
  background-color: #ecebfb;
  color: #8261ec !important;
  transition: all 0.3s;
  border-bottom: 2px solid #0000001e;
  border-right: 2px solid #0000001e;
}

.mainFrontPageHeadLowerText3:hover {
  border: 2px solid transparent;
  background-color: #ecebfb;
  color: #8261ec !important;
  transition: all 0.3s;
  border-bottom: 2px solid #0000001e;
  border-right: 2px solid #0000001e;
}

.mainFrontPageHeadLowerText3 {
  margin-bottom: 40px;
}

.mainFrontPageHeadLowerText2Area,
.mainFrontPageHeadLowerText3Area {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.mainFrontPageHeadLowerText2Area > div:nth-child(2) {
  letter-spacing: -0.6px;
  font-size: 18px;
}

.mainFrontPageHeadLowerText2ImgWrap,
.mainFrontPageHeadLowerText3ImgWrap {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.mainFrontChichizickIcon {
  object-fit: cover;
  height: 25px;
}

.mainFrontPageHeadLowerText3Area {
  display: flex;
}

.mainFrontPageHeadLowerText3Area > div:nth-child(2) {
  letter-spacing: 0.5px;
  font-size: 18px;
}

.mainFrontDiscordIcon {
  object-fit: cover;
  height: 22px;
}

.mainFrontPageHeadLowerText4Area {
  background-color: transparent;
  color: #ecebfbde;
  width: 406px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #8161ec9f;
  background-image: linear-gradient(84deg, #706e882b 0%, #b194c92b 100%);
  border-radius: 5px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: inset 4px 4px 6px #ecebfb2b, inset -4px -4px 6px #00000036;
  font-size: 18px;
  transition: all 0.3s;
}

.mainFrontPageHeadLowerText4Area:hover {
  border: 1px solid transparent;
  background-color: #8261ec;
  background-image: linear-gradient(84deg, #706e881f 0%, #c99dec1f 100%);
  box-shadow: inset 4px 4px 6px #ecebfb2b, inset -4px -4px 6px #0000003c;
  transition: all 0.3s;
}
