/* font-family: "dunkel-sans-expanded-rounded", sans-serif;
font-weight: 900;
font-style: normal;

NanumSquareRound

*/

.headerWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: all 0.3s;
  box-shadow: 0 8px 16px #00000000;
}
.headerBox.active {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s;
  background-image: linear-gradient(to bottom, #1314155e 95%, #ffffff00 100%);
  box-shadow: 0 8px 16px #00000023;
}

.headerBox.active::before {
  position: absolute;
  content: "";
  box-shadow: 0 8px 16px #00000023;
  pointer-events: none;
  transition: all 0.3s;
}

.headerBox {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ecebfb;
}

.headerTitle {
  font-family: "dunkel-sans-expanded-rounded", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  height: 35px;
  width: 100px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

.headerTitle > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.headerTitle:hover {
  color: #8261ec;
  transition: all 0.3s;
}

.headerButtonWrap {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.headerButtonWrap > div {
  width: 120px;
  height: 35px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.headerButtonWrap > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.headerButtonWrap > div:hover {
  color: #8261ec;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
  .headerTitle {
    width: auto;
  }
}

@media (pointer: coarse) and (max-width: 600px) {
  .headerWrap {
    display: None;
  }
}
